<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>2018</title>
</head>
<body>
  <div style="text-align: center;">
      2017/11/27 晚上 是我看到她的最后一次，遇见大概是2016年的冬天，都是图书馆偶然的机会。大学后半段的生活，我稍微不再那么的固执，2017对于我来说是充满转折的一年，对于未来由恐惧带来思考，那时的我最大的愿望就是不要去世界五百强搬砖，我觉得这太可怕了。
      对于她，我最大伤感在于，不能确定她对于我的看法，难道在我的对立面，她从不透露。更多的，我感叹的是人生命运，她看起来应该家境一般，勤恳努力的读书而我只是贪图她的美貌。她没有像其它女生一样自诩什么那些网络流行称号，她真的很传统的女生这使我保持良知。
      而我，对她感情的巅峰也从这一晚开始下滑，我不会去想她怎么样了，而是莫名其妙的把心思转移到另外的女孩子身上，然而，我只想在此记录对于2017 年的我来说她是见过最漂亮的女孩，那个下午我想说是我大学最好的时光，也是现在为止最为美妙的人生时光（之一），而以后生活我想这样的感到瞬间会越来越少。
  </div>
</body>
</html>