<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>xu7x</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.css">
    <script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.js' charset='utf-8'></script>
    <script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.js' charset='utf-8'></script>
    <!--如果你用到了拓展包中的组件，还需要引用下面两个-->
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm-extend.css">
    <script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.js' charset='utf-8'></script>
</head>
<body>


<div class="page-group">
    <!-- 你的html代码 -->
    <div class="page">
        <header class="bar bar-nav">
            <!--<a class="button button-link button-nav pull-left" href="/demos/card">
                <span class="icon icon-left"></span>
                返回
            </a>-->
            <h1 class="title">首页</h1>
        </header>
        <nav class="bar bar-tab">
            <a class="tab-item external active" href="#">
                <span class="icon icon-home"></span>

            </a>
            <a class="tab-item external" href="#">
                <span class="icon icon-me"></span>
            </a>
            <a class="tab-item external" href="#">
                <span class="icon icon-star"></span>
            </a>
            <a class="tab-item external" href="#">
                <span class="icon icon-settings"></span>
            </a>
        </nav>
        <div class="content">
            <!-- 这里是页面内容区 -->
            <div class="page-index">

                <div class="card facebook-card">
                    <div class="card-header no-border">
                        <div class="facebook-avatar"><img src="https://wxt.sinaimg.cn/thumb300/98411d1dly1fy306tf5w7j20yi0yigx6.jpg?tags=%5B%5D" width="34" height="34"></div>
                        <div class="facebook-name">夜萧</div>
                        <div class="facebook-date">星期一 3:47pm</div>
                    </div>
                    <div class="card-content"><img src="https://wxt.sinaimg.cn/thumb300/98411d1dly1fy306tf5w7j20yi0yigx6.jpg?tags=%5B%5D" width="100%"></div>
                    <div class="card-footer no-border">
                        <a href="#" class="link">赞</a>
                        <a href="#" class="link">评论</a>
                        <a href="#" class="link">分享</a>
                    </div>
                </div>


                <div class="card">
                    <div style="background-image:url(//gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_250x250q60.jpg)" valign="bottom" class="card-header color-white no-border">旅途的山</div>
                    <div class="card-content">
                        <div class="card-content-inner">
                            <p class="color-gray">发表于 2015/01/15</p>
                            <p>此处是内容...</p>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="link">赞</a>
                        <a href="#" class="link">更多</a>
                    </div>
                </div>
                <div class="card">
                    <div style="background-image:url(//gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_250x250q60.jpg)" valign="bottom" class="card-header color-white no-border">旅途的山</div>
                    <div class="card-content">
                        <div class="card-content-inner">
                            <p class="color-gray">发表于 2015/01/15</p>
                            <p>此处是内容...</p>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="link">赞</a>
                        <a href="#" class="link">更多</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>
<script>
    $.init();
</script>
</body>
</html>